/.idea/
/node_modules
/01_cli_interactive_sort/.idea/
/02_cli_primitive_db/node_modules/
/02_cli_primitive_db/.idea/
/02_cli_primitive_db/db.txt
/03_cli_telegram_console_sender/node_modules/
/03_cli_telegram_console_sender/.idea/
/03_cli_telegram_console_sender/.env
/04_telegram_bot_weather_forecast/node_modules/
/04_telegram_bot_weather_forecast/.idea/
/04_telegram_bot_weather_forecast/.env
/05_telegram_bot_exchang_rates/node_modules/
/05_telegram_bot_exchang_rates/.idea/
/05_telegram_bot_exchang_rates/.env
/06_instagram_giveaway/.idea/
/07_grouping_vacations/node_modules/
/07_grouping_vacations/.idea/
/08_JSON_sorting/node_modules/
/08_JSON_sorting/.idea/
/_2_01_auth_api/node_modules/
/_2_01_auth_api/.env
/_2_01_auth_api/dist/
/_2_02_find_user_country_by_ip/node_modules/
/_2_02_find_user_country_by_ip/dist/